<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Camera Configuration</title>
  <link rel="stylesheet" href="/static/fa/all.min.css">
  <link rel="stylesheet" href="/static/fa/fontawesome.min.css">
  <script src="/static/jquery.min.js"></script>
  <script src="/static/jquery.ba-throttle-debounce.min.js"></script>
  <link rel="stylesheet" href="/static/bulma.min.css">

</head>
<body>

  <!-- System Info. -->
  <section class="hero is-dark is-fullheight">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <block>

        </block>
        <a class="navbar-item" href="http://laonpeople.com" style="width:150px;height: 80px;">
          <img src="/static/logo.png" width='100%' height='100%'>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div>&nbsp;&nbsp;</div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href='/liveviewer'>
              Live Viewer
          </a>

          <a class="navbar-item" href='/systeminfo'>
            System Info
          </a>

          <a class="navbar-item" href="/dmssetting">
            DMS Settings
          </a>
          <a class="navbar-item" href="/timesetting">
            Time
          </a>
          <a class="navbar-item" href='/adminsetting'>
            Admin Settings
          </a>

        </div>
      </div>
    </nav>


    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <div class='field'>
              <label class="label" style='color:antiquewhite'>DMS Algorithm (졸음 감지)</label>
              <div class="buttons has-addons">
                <button id='btnDmsOn' class="button {{is_on(jsonObj.dms)}}">On</button>
                <button id='btnDmsOff' class="button {{is_on(not jsonObj.dms)}}">Off</button>
              </div>
            </div>
            <div class='field'>
              <label class="label" style='color:antiquewhite'>PSR Algorithm (위험 행동 감지)</label>
              <div class="buttons has-addons">
                <button id='btnPsrOn' class="button {{is_on(jsonObj.psr)}}">On</button>
                <button id='btnPsrOff' class="button {{is_on(not jsonObj.psr)}}">Off</button>
              </div>
            </div>
            <div class='field'>
              <label class="label" style='color:antiquewhite'>DMS Car Speed Limit (Max 60 km/h)</label>
              <div>
                <input id="sliderSpeed" style='width: 100%;' class="slider is-success has-output is-fullwidth" min="0"
                  max="60" value="{{jsonObj.dms_speed}}" step="1" type="range">
                <output for="sliderSpeed">{{jsonObj.dms_speed}}</output>
              </div>
            </div>
            <div class='field'>
              <label class="label" style='color:antiquewhite'>DMS Algorithm Sensitivity (알고리즘 민감도) </label>
              <div class="buttons has-addons">
                <button id='btnDmsSenseLow'
                  class="button {{get_sensitivity(jsonObj.dms_sensitivity, 'low')}}">Low</button>
                <button id='btnDmsSenseMed'
                  class="button {{get_sensitivity(jsonObj.dms_sensitivity, 'medium')}}">Medium</button>
                <button id='btnDmsSenseHigh'
                  class="button {{get_sensitivity(jsonObj.dms_sensitivity, 'high')}}">High</button>
              </div>
            </div>

            <div class='field'>
              <label class="label" style='color:antiquewhite'>Audio Volume (0/25/50/75/100)</label>
              <div>
                <input id="sliderAudio" style='width: 100%;' class="slider is-success has-output is-fullwidth" min="0"
                  max="100" value="{{jsonObj.volume}}" step="25" type="range">
                <output for="sliderAudio">{{jsonObj.volume}}</output>
              </div>
            </div>
            <div class='field'>
              <label class="label" style='color:antiquewhite'>Led Brightness</label>
              <div>
                <input id="sliderLed" style='width: 100%;' class="slider is-success has-output is-fullwidth" min="0"
                  max="100" value="{{jsonObj.led_brightness}}" step="10" type="range">
                <output for="sliderLed">{{jsonObj.led_brightness}}</output>
              </div>
            </div>
            <div class='field'>
              <label class="label" style='color:antiquewhite'>G-Sensor Sensitivity</label>
              <div class="buttons has-addons">
                <button id='btnGSenseLow'
                  class="button {{get_sensitivity(jsonObj.gsensor_sensitivity, 'low')}}">Low</button>
                <button id='btnGSenseMed'
                  class="button {{get_sensitivity(jsonObj.gsensor_sensitivity, 'medium')}}">Medium</button>
                <button id='btnGSenseHigh'
                  class="button {{get_sensitivity(jsonObj.gsensor_sensitivity, 'high')}}">High</button>
              </div>
            </div>
          </div>
        </div>
      </div>

  </section>
  </div>
  </div>
  </div>
  </div>
  </section>

  <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/bulma-slider@2.0.4/dist/js/bulma-slider.min.js"></script>
  <script>
    bulmaSlider.attach();
  </script>

</body>

<script>

  $(document).ready(function () {
    $(".navbar-burger").click(function () {
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");
    });
  });

  // Time Setting

  function updateCurtime() {
    $.get("/api/curtime", function (data, status) {
      var d = new Date(parseFloat(data * 1000))
      const offset = d.getTimezoneOffset()
      var yourDate = new Date(d.getTime() - (offset * 60 * 1000))
      $('#curtime_text').html('<strong>' + yourDate.toISOString().split('T')[0] + ' ' + yourDate.toISOString().split('T')[1].substring(0, 8) + '</strong>')
    });
  }

  $("#ctimebtn").click(function () {
    $("#systime:text").val($('#curtime_text').text());
    $("#time_setting").addClass("is-active");
    $('html').toggleClass('is-clipped');
  });


  function updateTimeReq() {
    var targetTimeStr = $("#systime:text").val()
    var targetTime = Date.parse(targetTimeStr)
    $.post("/api/updatetime", { targetTime: targetTime })
      .done(function (data) {
        var d = new Date(parseInt(data))
        console.log(d.toLocaleString())
        alert("Date changed successfully.")
      }).fail(function (err) {
        alert("Date change failed")
      }).always(() => {
        $(".modal").removeClass("is-active");
      })
  }



  function toggleModalClasses(event) {
    $(".modal").addClass("is-active");
    $('html').toggleClass('is-clipped');
  };

  $(".modal-close").click(function () {
    $(".modal").removeClass("is-active");
  });

  $(".delete").click(function () {
    $(".modal").removeClass("is-active");
  });

  $('.open-modal').click(toggleModalClasses);
  $('.close-modal').click(toggleModalClasses);


  function updateDmsConfigReq() {
    var dmsConfig = {}
    if ($('#btnDmsOn').hasClass('is-success')) {
      dmsConfig.dms = 1
    } else {
      dmsConfig.dms = 0
    }

    if ($('#btnPsrOn').hasClass('is-success')) {
      dmsConfig.psr = 1
    } else {
      dmsConfig.psr = 0
    }

    dmsConfig.dms_speed = $("#sliderSpeed").val()
    dmsConfig.volume = $("#sliderAudio").val()
    dmsConfig.led_brightness = $("#sliderLed").val()

    if ($('#btnDmsSenseLow').hasClass('is-success')) {
      dmsConfig.dms_sensitivity = "low"
    }

    if ($('#btnDmsSenseMed').hasClass('is-success')) {
      dmsConfig.dms_sensitivity = "medium"
    }

    if ($('#btnDmsSenseHigh').hasClass('is-success')) {
      dmsConfig.dms_sensitivity = "high"
    }


    if ($('#btnGSenseLow').hasClass('is-success')) {
      dmsConfig.gsensor_sensitivity = "low"
    }

    if ($('#btnGSenseMed').hasClass('is-success')) {
      dmsConfig.gsensor_sensitivity = "medium"
    }

    if ($('#btnGSenseHigh').hasClass('is-success')) {
      dmsConfig.gsensor_sensitivity = "high"
    }

    console.log(dmsConfig)


    $.post("/api/update_dms_conf", { ...dmsConfig })
      .done(function (data) {
        console.log('dms config changed successfully.')
      }).fail(function (err) {
        alert("Failed update.")
      })



  }

  $("#btnDmsOn").click(function () {
    if ($('#btnDmsOn').hasClass('is-success')) return;
    $('#btnDmsOn').addClass('is-success');
    $('#btnDmsOff').removeClass('is-success');
    updateDmsConfigReq();
  })

  $("#btnDmsOff").click(function () {
    if ($('#btnDmsOff').hasClass('is-success')) return;
    $('#btnDmsOff').addClass('is-success');
    $('#btnDmsOn').removeClass('is-success');
    updateDmsConfigReq()
  })


  $("#btnPsrOn").click(function () {
    if ($('#btnPsrOn').hasClass('is-success')) return;
    $('#btnPsrOn').addClass('is-success');
    $('#btnPsrOff').removeClass('is-success');
    updateDmsConfigReq();
  })

  $("#btnPsrOff").click(function () {
    if ($('#btnPsrOff').hasClass('is-success')) return;
    $('#btnPsrOff').addClass('is-success');
    $('#btnPsrOn').removeClass('is-success');
    updateDmsConfigReq();
  })

  $("#btnDmsSenseLow").click(function () {
    if ($('#btnDmsSenseLow').hasClass('is-success')) return;
    $('#btnDmsSenseLow').addClass('is-success');
    $('#btnDmsSenseMed').removeClass('is-success');
    $('#btnDmsSenseHigh').removeClass('is-success');
    updateDmsConfigReq();
  })

  $("#btnDmsSenseMed").click(function () {
    if ($('#btnDmsSenseMed').hasClass('is-success')) return;
    $('#btnDmsSenseMed').addClass('is-success');
    $('#btnDmsSenseLow').removeClass('is-success');
    $('#btnDmsSenseHigh').removeClass('is-success');
    updateDmsConfigReq();
  })

  $("#btnDmsSenseHigh").click(function () {
    if ($('#btnDmsSenseHigh').hasClass('is-success')) return;
    $('#btnDmsSenseHigh').addClass('is-success');
    $('#btnDmsSenseMed').removeClass('is-success');
    $('#btnDmsSenseLow').removeClass('is-success');
    updateDmsConfigReq();
  })

  $(".slider").change($.debounce(500, function (e) {
    updateDmsConfigReq();
  }))



  $("#btnGSenseLow").click(function () {
    if ($('#btnGSenseLow').hasClass('is-success')) return;
    $('#btnGSenseLow').addClass('is-success');
    $('#btnGSenseHigh').removeClass('is-success');
    $('#btnGSenseMed').removeClass('is-success');
    updateDmsConfigReq();
  })

  $("#btnGSenseMed").click(function () {
    if ($('#btnGSenseMed').hasClass('is-success')) return;
    $('#btnGSenseMed').addClass('is-success');
    $('#btnGSenseHigh').removeClass('is-success');
    $('#btnGSenseLow').removeClass('is-success');
    updateDmsConfigReq();
  })

  $("#btnGSenseHigh").click(function () {
    if ($('#btnGSenseHigh').hasClass('is-success')) return;
    $('#btnGSenseHigh').addClass('is-success');
    $('#btnGSenseMed').removeClass('is-success');
    $('#btnGSenseLow').removeClass('is-success');
    updateDmsConfigReq();
  })


</script>

</html>