<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Camera Configuration</title>
    <link rel="stylesheet" href="/static/fa/all.min.css">
    <link rel="stylesheet" href="/static/fa/fontawesome.min.css">
    <script src="/static/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/bulma.min.css">
</head>


<body>
    
    <!-- Start Time -->
    <section class="hero is-dark is-fullheight">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <block>

            </block>
            <a class="navbar-item" href="http://laonpeople.com" style="width:150px;height: 80px;">
                <img src="/static/logo.png" width='100%' height='100%'>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div>&nbsp;&nbsp;</div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href='/liveviewer'>
                        Live Viewer
                </a>

                <a class="navbar-item" href='/systeminfo'>
                    System Info
                </a>

                <a class="navbar-item" href="/dmssetting">
                    DMS Settings
                </a>
                <a class="navbar-item" href='/timesetting'>
                    Time
                </a>
                <a class="navbar-item" href='/adminsetting'>
                    Admin Settings
                </a>

            </div>
        </div>
    </nav>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half">
                        <article class="message">
                            <div class="message-header">
                                <p>Current Time</p>
                                <button id='ctimebtn' class="button is-link">Change</button>
                            </div>
                            <div id='curtime_text' class="message-body">
                                <strong>Loading Device Time ...</strong>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id='time_setting' class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">System Time</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <label class="label">Time to apply</label>
                    <div class="control has-icons-left has-icons-right">
                        <input id='systime' class="input" type="text" name="systime" placeholder="Apply your time">
                        <span class="icon is-small is-left">
                            <i class="fas fa-clock"></i>
                        </span>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" onclick="updateTimeReq();">Save changes</button>
                <button class="button" onclick='$("#time_setting").removeClass("is-active");$("html").toggleClass("is-clipped");'>Cancel</button>
            </footer>
        </div>
    </div>
    <!-- End Time  -->
    
</body>
<script>

    $(document).ready(function () {
        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function () {
            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");
        });
    });

    // Time Setting

    function updateCurtime() {
        $.get("/api/curtime", function (data, status) {
            var d = new Date(parseFloat(data * 1000))
            const offset = d.getTimezoneOffset()
            var yourDate = new Date(d.getTime() - (offset * 60 * 1000))
            $('#curtime_text').html('<strong>' + yourDate.toISOString().split('T')[0] + ' ' + yourDate.toISOString().split('T')[1].substring(0, 8) + '</strong>')
        });
    }

    $("#ctimebtn").click(function () {
        $("#systime:text").val($('#curtime_text').text());
        $("#time_setting").addClass("is-active");
        $('html').toggleClass('is-clipped');
    });

    $(document).ready(function () {
        setInterval(updateCurtime, 1000);
    });

    function updateTimeReq() {
        var targetTimeStr = $("#systime:text").val()
        var targetTime = Date.parse(targetTimeStr)
        $.post("/api/updatetime", { targetTime: targetTime })
            .done(function (data) {
                var d = new Date(parseInt(data))
                console.log(d.toLocaleString())
                alert("Date changed successfully.")
            }).fail(function (err) {
                alert("Date change failed")
            }).always(() => {
                $(".modal").removeClass("is-active");
                $('html').toggleClass('is-clipped');
            })
    }



    function toggleModalClasses(event) {
        //     var modalId = event.currentTarget.dataset.modalId;
        //     var modal = $(modalId);
        //     modal.toggleClass('is-active');
        $(".modal").addClass("is-active");
        $('html').toggleClass('is-clipped');
    };

    $(".modal-close").click(function () {
        $(".modal").removeClass("is-active");
    });

    $(".delete").click(function () {
        $(".modal").removeClass("is-active");
        $('html').toggleClass('is-clipped');
    });

    $('.open-modal').click(toggleModalClasses);
    $('.close-modal').click(toggleModalClasses);
</script>

</html>